@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body_background: #f4f4f4;
    --body_cardbackground:#f4f4f4;
    --body_color: #333;
    --border_color: #ccc;
}

[data-theme="dark"] {
    --body_background: #222a32;
    --body_cardbackground:#222a32;
    --body_color:#f4f4f4;
    --border_color: #6f7377;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color:var(--body_color);
  background-color:var(--body_background);
  overflow-x: hidden;
}

h1 {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
  }

.barloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.barloader-label {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 75px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.motion-div{
    display: flex;
    gap: 0.25rem;

}

.motion-insideDiv{
    height: 3rem;
    width: 0.5rem;
    background-color: #fff;
}


.divTheme{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 10px;
}

.plusIcon{
    border: none;
    background: none;
    color: #23b152;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--body_background);
    padding: 20px;
}



.notecards-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--body_background);
}

/* Note Card */
.card {
    border: 1px solid var(--border_color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex-basis: calc(100%);
    
}

.card .divXmark{
    text-align: right;
    background-color: var(--body_cardbackground);
}
.card .xmark-icon{
    margin: 5px;
    color: #e7554a;
    cursor: pointer;
}

.card .card-content {
    height: 100%;
    padding: 20px;
    background-color: var(--body_cardbackground);
    color: var(--body_color);
}

.card .card-content .note-title {
    color: var(--body_color);
    background-color: var(--body_cardbackground);
}

.card .card-content .note-content {
    font-size: 14px;
    margin: 10px 0;
    color: var(--body_color);
    background-color: var(--body_cardbackground);
}

.card .date-label {
    font-size: 12px;
    padding: 10px;
    color: var(--body_color);
    background-color: var(--body_cardbackground);
}

/* Modal */
.modal-bgscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: var(--body_cardbackground);
    border-radius: 0.75rem;
    padding: 16px;
    text-align: center;
}

.divAddTitle{
margin-bottom: 10px;
background-color: var(--body_cardbackground);
}

.divAddTextContent{
margin-bottom: 10px;
background-color: var(--body_cardbackground);
}

.modal-input {
    display: flex;
    font-size: 16px;
    padding: 16px;
    width: 100%;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.333px solid #b6b5b5;
    background-color: var(--body_cardbackground);
    color: var(--body_color);
}

.btn-addNote{
    width: 100%;
    padding: 15px;
    background-color: #28c95e;
}

@media(min-width: 700px){

.divTheme{
    right: 20px;
}

.card {
    flex-basis: calc(30% - 60px);
}

.notecards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    border-radius: 0.75rem;
    padding: 20px;
    text-align: center;
}

    
}


@media(min-width: 1000px){
.notecards-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    border-radius: 0.75rem;
    padding: 16px;
    text-align: center;
}

.btn-addNote{
    width: 40%;
    padding: 15px;
    background-color: #28c95e;
}

.notecards {
    width: 100%;
}

.card {
    flex-basis: calc(20% - 20px);
}

.card .xmark-icon{
    font-size: 18px;
}
}

@media(min-width: 1400px){
    .notecards-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .card {
        flex-basis: calc(20% - 85px);
    }
    
}